#app {
	display: flex;
	align-content: middle;
}

#cat-section {
	display: flex;
	justify-content: center;
	flex: 2 1;
}

.section {
	margin: 20px 10px;
}

.cat-wrapper {
	display: table;
	text-align: center;
}

.cat-name,
.cat-image {
	display: table-row;
}

.cat-name {
	text-transform: capitalize;
}

.cat-image {
	height: auto;
	max-width: 100%;
	max-height: 75vh;
}

.click-count {
	font-size: 18px;
	padding-top: 20px;
}

#cat-list {
	flex: 1 1;
	list-style: none;
	padding-left: 0;
	text-transform: capitalize;
	width: 75%;
}

#cat-list > li:not(.cat-list-title) {
	cursor: pointer;
}

.cat-list-title {
	font-weight: bold;
}

#admin-section {
}

#admin-section.active .admin-wrapper {
	max-width: 100vw;
	opacity: 1;
}

.admin-wrapper {
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	transition: all .2s;
}

.admin-input {
	display: block;
	margin: 20px 0;
}